<!DOCTYPE html>
<html>
<head>
	<title>vue test</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">

</head>
<body>
	<!-- the demo root element -->
<p>Doble click en el item para convertir en folder</p>
<p>Presionar la tecla enter para guardar</p>

<div id="demo">
	<div style="margin-right: 50%; position: absolute; width: 50%;" >
		<ul class="cd-accordion-menu">
		  <item  class="item" :model="treeData">
		  </item>	 
		</ul>
	</div>
 	<div style=" margin-left: 50%; color:black;position: absolute; margin-top: 70px;">	  	
  		<pre>{{treeData}}</pre>
  	</div>
</div>

</body>
<!-- item template -->
<!-- -->


<script type="text/x-template" id="item-template">
  <li>

    <div  
      :class="{bold: isFolder}"     
      @dblclick="changeType">
     	 <input type="checkbox" @click="this.isComplet"  name="">
       <input type="text" @keyup.enter="addText" v-model="model.name" />	
   
      <span  @click="toggle" v-if="isFolder">[{{open ? '-' : '+'}}]</span>
    </div>
    <ul v-show="open" v-if="isFolder">
      <item
        class="item"
        v-for="model in model.children"
        :model="model">
      </item>
      <li class="add" @click="addChild">+</li>
    </ul>
  </li>
</script>


<script src="js/vue.js"></script>
<script src="js/main.js"></script>
</html>





